
.pattern .color {
    background-color: rgba(138, 226, 38, 0.87);
}

.pattern .grid {
    background-color: rgb(120, 17, 189);
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(7, auto);
}


.pattern button {
    background-color: rgb(117, 0, 128);
}
