.number {
    color: rgb(0, 0, 0);
    user-select: none;
}

.sequence .color {
    background-color: rgb(120, 50, 185);
}

.sequence .grid {
    height:70vw;
    width:70vw;
    max-width: 65vh;
    max-height:65vh;
    min-height:320px;
    min-width:320px;
}
