
.pattern .color {
    background-color: rgb(57, 172, 72);
}

.pattern .player.square:hover {
    background-color: rgb(57, 172, 72);
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:70vw;
    width:70vw;
    max-width: 65vh;
    max-height:65vh;
    min-height:320px;
    min-width:320px;
    row-gap: 20px;
}

.pattern span {
    color:white;
    font-size: calc(8px + 1vmin);
    margin-bottom:2px;
}

.double .grid {
    width:50%;
    height:50%
}

.single .grid {
    height:100%;
    width:100%;
}
