.App {
  text-align: center;
  background-color: #393141;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: calc(100vh - 65px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  height:60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav button {
  border:none;
  height:100%;
  padding: 10px;
  margin: 0 20px 0 20px;
  background-color: transparent;
  color:white;
  cursor: pointer;
  font-size: 2.5vmin;
}

nav button:hover {
  transform: scale(1.2);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  border-bottom: 4px solid black;
  border-right:  4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
}

.instructions {
  font-size: 4vmin;
}

.timer-wrapper {
  width:70vw;
  max-width: 65vh;
  height: 12vmin;
  margin-bottom:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 5.5vmin;
}

.timer {
  padding-top:5px;
}

.square:hover {
  cursor:pointer;
}

.grid {
  border-top: 4px solid black;
  border-left: 4px solid black;
  display: grid;
  height:70vw;
  width:70vw;
  max-width: 65vh;
  max-height:65vh;
}

.hidden {
  visibility: hidden;
}

.content button {
  margin-top: 20px;
  cursor: pointer;
  padding: 2.5vmin;
  font-size: 3vmin;
  border: .5vmin solid black;
  border-radius: 8px;
  color:white;
}
