.App {
  text-align: center;
  background-color: #393141;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.content {
  min-height: calc(100vh - 65px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  height:60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav button {
  border:none;
  height:100%;
  padding: 10px;
  margin: 0 20px 0 20px;
  background-color: transparent;
  color:white;
  cursor: pointer;
  font-size: x-large;
}

nav button:hover {
  transform: scale(1.1);
  opacity: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.square {
  border-bottom: 4px solid black;
  border-right:  4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
}

.square:hover {
  cursor: pointer;
  opacity: .8;
}

.timer-message-container {
  width:70vw;
  max-width: 65vh;
  min-width:320px;
  height:fit-content;
  padding-bottom: 5px;
  margin-bottom:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: calc(20px + 1vmin);
}

.timer {
  margin-top:1vh;
}

.square:hover {
  cursor: pointer;
  opacity: .8;
}

.grid {
  border-top: 4px solid black;
  border-left: 4px solid black;
  display: grid;
}

.hidden {
  visibility: hidden;
}

button {
  margin-top: 20px;
  cursor: pointer;
  padding: 15px;
  font-size: x-large;
  border: 3px solid black;
  border-radius: 10px;
  color:white;
  background-color: rgb(86, 32, 136);
}

button:hover {
  opacity: .8;
}

